.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headercaja{
  margin-top: 6% !important;
}
.logo{
  width: 400px;
    margin-left: 20%;
  }
  .carita{
    margin-top: 39px;
  }
  .containerspace{
    width: 150px;
    height: 150px;
    margin-right: 150px;  
    text-align: -webkit-center;
  }
  
  .caritacontainer{
    background: grey;
    border-radius: 150px;
    width: 100px;
    height: 100px;
  }
  .gridCarita{
    text-align: -webkit-right;
  }
  .titleCaja {
    color: #47525E;
    font-family: Lato;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    width: 326px;
    text-align: center;
  }
